* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafbfc;
  color: #222;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #852E63;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: underline; }

a.toggle-service-names {
  margin: 0px 0 20px;
  position: relative;
  display: inline-block;
}
