@import 'variables';

footer {
  background: #252525;
  width: 100%;
  color: white;

  .grid {
    .col {
      border-bottom: 1px solid white;

      &:last-child {
        border: 0;
      }
    }
  }
}

.mobile-phone--sticky {
  position: sticky;
  bottom: 0;
  text-align: center;
  background: #3f6990;
  font-size: 2rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 1rem;
    width: 100%;
  }
}

@media only screen and (min-width: $small-device) {
  footer {
    .grid {
      .col {
        border-right: 1px solid white;
        border-bottom: 0;
      }
    }
  }

  .mobile-phone--sticky {
    display: none;
  }
}