// Break points
$small-device: 750px;
$medium-device: 900px;
$large-device: 1200px;
$max-browser-width: 1400px;
$max-content-width: 1250px;

// Colours
$primary-colour: #74AEE4;
$primary-dark-colour: #5883ab;
$secondary-colour: #54a27e;
$text-colour: #222222;